<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication">
        
        <!-- Sample AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter for known URL shortener domains -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- Popular URL shorteners -->
                <data android:host="bit.ly" />
                <data android:host="tinyurl.com" />
                <data android:host="t.co" />
                <data android:host="goo.gl" />
                <data android:host="ow.ly" />
                <data android:host="is.gd" />
                <data android:host="buff.ly" />
                <data android:host="adf.ly" />
                <data android:host="bl.ink" />
                <data android:host="lnkd.in" />
                <data android:host="db.tt" />
                <data android:host="qr.ae" />
                <data android:host="cur.lv" />
                <data android:host="rebrand.ly" />
                <data android:host="rb.gy" />
                <data android:host="shorturl.at" />
                <data android:host="tiny.cc" />
                <data android:host="x.co" />
                <data android:host="yourls.org" />
                <data android:host="v.gd" />
                <data android:host="surl.li" />
                <data android:host="shortcm.li" />
                <data android:host="clck.ru" />
                <data android:host="t.ly" />
                <data android:host="cutt.ly" />
                <data android:host="tiny.jio.com" />
                <data android:host="hdfcbk.io" />
                <data android:host="fw.to" />
                <data android:host="amzn.to" />
                <data android:host="yhoo.it" />
                <data android:host="trib.al" />
                <data android:host="n.pr" />
                <data android:host="qr.net" />
                <data android:host="w.wiki" />
                <data android:host="dft.ba" />
                <data android:host="su.pr" />
                <data android:host="b.link" />
                <data android:host="shrtm.nu" />
                <data android:host="apple.co" />
                <data android:host="ubr.to" />
                <data android:host="g.co" />
                <data android:host="youtu.be" />
                <data android:host="m.me" />
                <data android:host="fb.me" />
                <data android:host="wa.me" />
            </intent-filter>

            <!-- Intent filter for sharing text to the app -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>