<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication">
        
        <!-- Sample AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter for known URL shortener domains -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- Popular URL shorteners -->
                <data android:host="bit.ly" />
                <data android:host="tinyurl.com" />
                <data android:host="t.co" />
                <data android:host="goo.gl" />
                <data android:host="ow.ly" />
                <data android:host="is.gd" />
                <data android:host="buff.ly" />
                <data android:host="adf.ly" />
                <data android:host="bl.ink" />
                <data android:host="lnkd.in" />
                <data android:host="db.tt" />
                <data android:host="qr.ae" />
                <data android:host="cur.lv" />
                <data android:host="rebrand.ly" />
                <data android:host="rb.gy" />
                <data android:host="shorturl.at" />
                <data android:host="tiny.cc" />
                <data android:host="x.co" />
                <data android:host="yourls.org" />
                <data android:host="v.gd" />
                <data android:host="surl.li" />
                <data android:host="shortcm.li" />
                <data android:host="clck.ru" />
                <data android:host="t.ly" />
                <data android:host="cutt.ly" />
                <data android:host="tiny.jio.com" />
            </intent-filter>

            <!-- Intent filter for sharing text to the app -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>